<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <!-- <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" /> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <!--Boostrap-->
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/trackplan.css"}}" />
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

</head>
<body>  

    {{!-- The blog navigation links --}}
    {{navigation}}


        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>

</body>
</html>
