{{!< default}}


{{#post}}

<main class="container" role="main">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<header class="post-header panel-heading">
				<h1 class="post-title">All Posts</h1>
			</header>

			<section class="panel-body">
				{{#get "posts" limit="all" include="tags"}}
                <ul class="list-group">
                    {{#foreach posts}}
                    <li class="list-group-item"><a href="{{url}}">{{title}} </a>  <div class="tag-links">Categories:  <a href="{{url}}">{{tags}}</a></div></li>
                    {{/foreach}}
                </ul>
				{{/get}}
			</section>

			<div class="panel-footer">
				<div class="row">
					<div class="col-lg-4">
						<a href="{{@blog.url}}"><button type="button" class="btn btn-large btn-block btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Main</button></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>

{{/post}}
