{{!< default}}

{{#get "posts" include="tags" filter="tags:faq"}}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Frequently Asked Questions</h4>
                </div>
                <ul class="list-group">
                    {{#foreach posts}}
                    <li class="list-group-item sidebar-item"><a href="#{{title}}">{{title}}</a></li>
                    {{/foreach}}
                </ul>
                <div class="panel-footer">
                    <a href="{{@blog.url}}"><button type="button" class="btn btn-large btn-block btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Main</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>FAQ</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {{#foreach posts }}
                        <li class="list-group-item" id="{{title}}">
                            <div style="border-bottom: 1px solid grey;">
                                <i><h3 style="color: grey;">Question: {{title}}</h3></i>
                            </div>
                            <div><p>{{content}}</p></div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{/get}}

